.App {
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(232, 231, 231);
}

li {
  list-style-type: none;
  padding: 5px;
}

.student_list {
  padding: 1rem;

}

.add_student_form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.add_student_form input {
  padding: 10px;
  margin: 10px;
}

.submit_btn {
  padding: 10px;
  width: 100px;
  margin: auto;
}

.add_students {
  background-color: gray;
  padding: 10px;
}

.email_field {
  padding-left: 100px;
}

.student_li_item {
  display: flex;
  justify-content: center;

}