.App {
  text-align: center;
}

li {
  list-style-type: none;
  padding: 5px;
}

.student_list {
  padding: 1rem;

}

.add_student_form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.add_student_form input {
  padding: 10px;
  margin: 10px;
}

.submit_btn {
  padding: 10px;
  width: 100px;
  margin: auto;
}